*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    /* background-color:lightgray; */
}
.header{
background-color: #004B8D;
}
.navbar{
background-color: #223A5E;
}

body{
padding-top:150px;
}
@media  (max-width: 768px) {
    body{
        padding-top: 230px;
    }
}

/* #hero{
background-image: url('assets/imgcou.jpg');
} */





    
